.container{
    position: relative;
    top: 50px;
}

.login-page{
    display: grid;
justify-content: center;
}
.login-header{
   display: grid;
   gap: 5px;
}
.login-1stheader{
display: grid;
justify-content: center;
font-size:30px ;
font-weight:500 ;
}
.login-2ndheader{
    display: grid;
    justify-content: center;
    color: #6C757D;
    font-size: 15px;
}
.login-choice{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    
}
.login-content{
    padding-top: 20px;
}